* , *::after, *::before{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    padding: 0;
}

:root {
    --background-color: #fff;
    --background-contrast: #f6f6f6;
    --text-color: #545454;
    --secondary-text-color: #6b6b6b;
    --shadow-color: #000000;
    --purple-gradient: linear-gradient(125deg, rgba(173,64,169,1) 0%, rgba(215,44,212,1) 100%);
    --blue-gradient: linear-gradient(125deg, #4075ad 0%, #257fe4 100%);
    --icon-color: #55a8a8;
    --cta-text-color: #fff;
}

.hidden {
    display: none;
}

.light-mode {
    --background-color: #fff;
    --text-color: #000;
    --background-contrast: #ddd;
}

body {
    background-color: var(--background-color);
    height: 100vh;
    width: 100%;
    display: flex;
}

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

header {
    top: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: var(--background-contrast);
    z-index: 5;
    box-shadow: 0 0 5px #000;
}

header img {
    height: 60%;
    position: absolute;
    top: 20%;
    left: 10%;
}

#menu-box {
    display: flex;
    height: 100%;
    width: 80%;
    align-items: center;
    justify-content: right;
}

#menu-box > * {
    position: relative;
    margin: 20px;
}

#mode-toggle {
    cursor: pointer;
    user-select: none;
}

/* ---------------------- */

.main-content {
    margin-top: 80px;
    width: 80%;
    position: relative;
}

a {
    text-decoration: none;
}

.card {
    background-color: var(--background-contrast);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 5px 5px -5px var(--shadow-color);
}

.card h1 {
    position: relative;
    top: 2px;
    font-size: 20px;
}

.card p {
    position: relative;
    color: var(--secondary-text-color);
    font-size: 12px;
}


.contact-info {
    position: relative;
    height: 2rem;
    display: flex;
    width: 100%;
}

.contact-info .phone, .contact-info .location {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0;
}

.contact-info .icon {
    position: relative; 
    font-size: 18px;
    color: var(--icon-color);
    margin-right: 4px;
}

.contact-info > * {
    font-size: 12px;
    color: var(--text-color)
}

#front-page-footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* #front-page-footer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 34px;
    bottom: -10px;
    z-index: -1;
    background-color: var(--background-contrast)
} */

#make-post {
    bottom: 20px;
    left: 10%;
    position: relative;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#request, #offer {
    width: 45%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 5px -5px var(--shadow-color);
}

#offer {
    background-image: var(--purple-gradient)
}

#request {
    background-image: var(--blue-gradient)
}

.post-button {
    padding: 20px 0;
}

#front-page-footer #make-post h1 {
    color: var(--cta-text-color);
    font-size: 16px;
}

.popup {
    z-index: 2;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    background-color: var(--background-contrast);
    padding: 20px;
    bottom: 0;
    border-radius: 25px;
}

.popup h1 {
    font-size: 20px;
}

.popup h2 {
    font-size: 16px;
}

.gig-info {
    margin-top: 10px;
    display:flex;
    width: 100%;
    position: relative;
    flex-direction: column;
}

.gig-info p {
    font-size: 14px;
}

.gig-info img {
    position: relative;
    width: 100%;
    margin: 10px 0;
    max-height: 20vh;
    object-fit: cover;
}

.gig-info h1 {
    font-size: 24px;
}

.gig-info .main-text {
    position: relative;
}

.gig-info .main-text a {
    text-decoration:underline;
    font-weight: 600;
    color: var(--icon-color);
}

.inline-icon {
    top: 2px;
    position: relative;
    color: var(--icon-color);
    font-size: 16px !important;
}

/* .gig-info .contact {
    display: flex;
    width: 100%;
    position: relative;
} */

#about-gig-footer {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.bottom-navbar {
    position: relative;
    width: 80%;
    display: flex;
}

.bottom-navbar a {
    width: 100%;
}

.bottom-navbar .back-btn a {
    width: 64px;
    height: 64px;
    min-width: 64px;
    background-image: var(--blue-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 5px 5px -5px var(--shadow-color);
}

.bottom-navbar .back-btn a i {
    color: var(--cta-text-color);
    font-weight: 600;
}

.bottom-navbar .send-message {
    display: flex;
    position: relative;
    height: 64px;
    background-image: var(--purple-gradient);
    flex: 1;
    margin-left: 20px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px -5px var(--shadow-color);
}

.bottom-navbar .send-message h1 {
    font-size: 16px;
    color: var(--cta-text-color)
}

.gig-info .contact-info {
    position: relative;
    top: 40px;
}

#message-box {
    width: 100%;
    height: 10rem;
}

.personal-information {
    width: 100%;
}

#submit-footer {
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-footer a {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-button {
    background-image: var(--purple-gradient);
    height: 64px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px -5px var(--shadow-color);
}

#submit-button h2 {
    font-size: 16px;
    color: var(--cta-text-color);
}